body {
    background-color: lightblue;
  }
  
  h1 {
    text-align: center;
    font-size: 6vw;
  }

  h2 {
    font-size: 3vw;
    margin-left: 1vw;
  }
  
  p {
    margin-left: 1vw;
    font-size: 2vw;
    font-family: verdana;
    text-align: justify;
  }

  img {
      max-width: 1000px;
      max-height: 800px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }